
@import url("https://use.typekit.net/lzw7xmq.css");

@font-face {
  font-family: 'Juby';
  src: local('Juby'), url("./assets/juby.otf") format('opentype');
}

@font-face {
  font-family: 'theramin';
  src: local('theramin'), url("./assets/theramin.ttf") format('truetype');
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */

html {
  width: 100%;
  height: 100%;
}

body {
  text-align: center;
  font-family: 'Roboto Mono', monospace;
  width: 100%;
  height: 100%;
  background-color: #010614;
  overflow: hidden;
}

.notfound {
  color: white; 
  text-align: center;
}


.blur {
  width: 100%;
  height:100%;
  top:0;
  position: absolute;
  overflow: hidden;
  /* filter: blur(10px); */
}

.blobs {
  /* margin-top: 50px; */
  font-size: 50px;
  color:white;
  display:flex;
  justify-content: center;
  align-items: center;
  -webkit-backface-visibility: hidden;
  position: relative;
}

.blob {
  filter: blur(20px);
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */


* {
  cursor:  url(https://cur.cursors-4u.net/cursors/cur-1/cur7.cur) , auto !important;
  box-sizing: border-box;
}



/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */


.mishmort {
  width: 100vw;
  height: 100vh;
}

.main {
  width: 100vw;
  /* height: 100vh; */
  display:flex;
  justify-content: center;
}

.content {
  width: 85%;
  height: 78%;
  margin-top: 7%;
  position: absolute;
  display: flex;
  justify-content: center;
  
}

.footer {
  color: white;
  position: absolute;
  bottom: 40px;
  display: flex;
  align-self: center;
  justify-content: center;
  text-align: center;
  font-size: 12px;
}

#footertitle {
  display: flex;
  align-items: center;
  justify-content: center;

}

.globelogo {
  margin-right: 8px;
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* CURSOR  */

.crosshairx {
  position: fixed;
  top: 0;
  left: 0;
  width: 25px;
  height: 1px;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

.crosshairy {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 1px;
  height: 25px;
  background-color: white;
  transform: translate(-50%, -50%);
  z-index: 999;
  pointer-events: none;
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* NAV BAR */

.nav {
  width: 90%;
  height: 100px;
  font-size: 15px;
  position: absolute;
  margin-top: 1%;
}

.nav a {
  color:white;
  text-decoration: none;
}

.navlink {
  width: 230px;
}


.navlinktext {
    display: inline-block;
}

.navlinktext::after {
  content: '';
  width:100%;
  height: 1px;
  margin-top:4px;
  background:white;
  display:block;
  transform: scaleX(0);
  transition: transform 0.2s ease;
}

.navlinktext:hover::after {
  transform: scaleX(1);
}

.pages {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.homelogo {
  opacity: 95%;
  transition: opacity 0.2s ease;
}

.homelogo:hover {
  opacity: 100%;
}


/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* HOMEPAGE */

.home {
  display:flex;
  flex-direction: column;
  font-family: 'juby', sans-serif;
  color: white;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  line-height: 40px;
  width: 100%;
  height: 100%;
}

.mort {
  margin-left: 80px;
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* STATS */

.allstats {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-areas: "globe knowledge spinny"
                      "canvas mish game"
                      "spintext graph pins";
  grid-gap: 20px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.stat {
  border: 1px solid white;
  color:white;
  text-align: left;
  padding: 10px;
  background-color: rgba(1, 6, 20, .4);
  filter: drop-shadow(0 0 0.75rem white);
	transition: .2s ease-in;
  display: inline-block;
  font-size: 20px;
  overflow: hidden;
}

.statani {
  background-image: url("./assets/mishmortlogo.svg");
  background-attachment: fixed;
  background-position: center;
  background-repeat:no-repeat;
  background-size: 40%;
  animation: bounce 6s ease-in-out;
}

@keyframes bounce {
  0% {background-position: center 50%;}
  25% {background-position: center 35%;}
  50% {background-position: center 65%;}
  80% {background-position: center 45%;}
  100% {background-position: center 50%;}
}

.stat:hover {
  filter: drop-shadow(0 0 1.2rem white);
}

.statafter {
  display:none;
}


/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* PINS */

.innerpins {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: 100%;
  height: 100%;
  animation: spinny 3s ease-in-out reverse infinite;
}

.pin {
  width: 20%;
  height: 50%;
  transform-origin: bottom;
  top: 0px;
  position: absolute;
  background-image: url("./assets/pin.svg");
  background-position: center;
  background-repeat: no-repeat;
}

.pinbody {
  width: 35px;
  height: 35px;
  border-radius: 50px;
  background-color: white;
}

.binaryipsum {
  color: white;
  font-family: courier-std, monospace;
  font-size: 14px;
  height: 100%;
  text-align: left;
  animation: pinmove 4s linear infinite;
}

@keyframes pinmove {
  0% {
    transform: translateY(100%);
  }

  100% {
    transform: translateY(-100%);
  }
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* DRAW */

.phwrap, .outerdraw {
  display: flex;
  justify-content: center;
  align-items: center;
}

.phwrap {
  position: absolute;
  width: 50px;
  height: 50px;
}

.ph {
  background-color: white;
  position: absolute;

}

.phx {
  width: 50px; 
  height: 2px; 
  
}

.phy {
  width: 2px; 
  height: 50px; 
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* KNOWLEDGE */

.innerknowledge {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  width: 100%;
  height: 100%;
}

.bar {
  width: 15%;
  height: 80%;
  margin: 10px;
  border: 1px solid white;
  display: flex;
  align-items: flex-end;
}

.innerbar {
  margin: 5px; 
  width: 100%; 
  height: 5%; 
  background-color: white;
  transition: height 0.2s ease;
}

 .innerknowledge:hover  > .bar >.bar1 {
  height: 33%;
}

.innerknowledge:hover  > .bar >.bar2{
  height: 66%;
}

.innerknowledge:hover  > .bar >.bar3 {
  height: 90%;
}


/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* GLOBE */

.outerglobe {
  display: flex;
  justify-content: center;
  align-items: center;
}

.globe {
  width: 200px;
  height: 200px;
  background: url("./assets/globe.svg");
  border-radius: 50%;
  background-size: 450px;
  border: 1px solid white;
  animation-name: rotate;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
  -webkit-animation-name: rotate;
  -webkit-animation-duration: 12s;
  -webkit-animation-iteration-count: infinite;
  -webkit-animation-timing-function: linear;
}

@keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 450px 0px;
  }
}
@-webkit-keyframes rotate {
  from {
    background-position: 0px 0px;
  }
  to {
    background-position: 450px 0px;
  }
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* MISH */

.outermish {
  display:flex;
  justify-content: center;
  align-items: center;

}

.innermish {
  width: 200px;
  height: 200px;
  background: url("./assets/mish.svg");
  background-repeat: no-repeat;
  background-position: center;
  display:flex;
  justify-content: center;
  align-items: center;
}

.eyewrap {
  display:flex;
  justify-content: center;
  align-items: center;
}



.eye {
  width: 25px;
  height: 25px;
  background-color: white;
  border-radius: 50%;
  margin: 20px;
}



/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* SPINTEXT */

.outerspintext, .innerspintext {
  display:flex;
  justify-content: center;
  align-items: center;
}

.innerspintext {
  width: 100%;
  height: 100%;
  background-repeat: no-repeat;
  background-image: url("./assets/spark.svg");
  background-position: center;
  background-size: 50%;
}

.text {
  position: absolute;
  font-size: 16px;
  max-width: 50%;
  color: white;
  font-family: courier-std, monospace;
  animation: revolve 8000ms linear infinite;
}

.text span {
  position: absolute;
  top: -100px;
  transform-origin: 0 100px;
}


 @keyframes revolve {
   0% {transform: rotate(0deg)
   }
   100% {
     transform: rotate(360deg);
   }
}


/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* GAME */

.outergame {
  display:flex;
  justify-content: center;
  align-items: center;
}

.innergame {
  display: grid;
  grid-gap: 1px;
  grid-template-rows: 1fr 1fr 1fr;
  grid-template-columns: 1fr 1fr 1fr;
}

.button {
  width: 50px;
  height: 50px; 
  border: 1px solid white; 
  background-color: transparent;
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* SPINNY */


.innerspinny {
  width: 100%;
  height: 100%;
  display: grid;

  padding: 20px 40px 40px 20px;

  grid-template-areas: ". thincircle"
                      "thickcircle .";
}

.thincircle {
  width: 115%;
  height: 115%;
  background-image: url("./assets/thincircle.svg");
  background-position: center;
  background-repeat: no-repeat;
  grid-area: thincircle;
  animation: spinny 3s linear infinite
}

.thickcircle {
  width: 115%;
  height: 115%;
  background-repeat: no-repeat;
  background-image: url("./assets/thickcircle.svg");
  background-position: center;
  grid-area: thickcircle;
  animation: spinny 3s linear infinite reverse
}

@keyframes spinny {
  0% {
    transform: rotate(0deg)
  }

  100% {
    transform: rotate(360deg)
  }
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* GRAPH */

.innergraph {
  width: 100%;
  height: 100%;
  display:flex;
  justify-content: center;
  align-items: center;
}

.out, .mid, .inn {
  position: absolute;
}

.out {
  width: 80%;
  fill:none;
  stroke:#fff;
  stroke-miterlimit:10;
  stroke-width:2px;
}


.mid {
  width: 30%;

  fill:none;
  stroke:#fff;
  stroke-miterlimit:10;
  stroke-width:2px;
}

.inn {
  width: 15%;

  fill:none;
  stroke:#fff;
  stroke-miterlimit:10;
  stroke-width:2px;
}



.inn:hover, .mid:hover, .out:hover { 
  fill: white;
}

.out:hover + .mid, .out:hover + .mid + .inn, .mid:hover + .inn{
  stroke:#010614;
}



/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* SKILLS + EDUCATION */

.skillseducation {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-areas: "mcmaster mcmaster"
                       "waterloo waterloo"
                       "skills releventcourses";
  grid-gap: 20px;
  grid-template-rows: repeat(3, 1fr);
  grid-template-columns: 1fr 1fr;

}

.skills {
  width: 100%;
  border:1px solid white;
  color:white;
  text-align: left;
  grid-area: skills;
  padding:25px;
  padding-top: 55px;
  background-color: rgba(1, 6, 20, .4);
  background-image: url("./assets/grid4.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
}

.releventcourses {
  width: 100%;
  border:1px solid white;
  color:white;
  text-align: left;
  padding:25px;
  grid-area: releventcourses;
  padding-top: 55px;
  background-color: rgba(1, 6, 20, .4);
  background-image: url("./assets/grid4.svg");
  background-position: center;
  background-size: cover;
  display: flex;
  flex-wrap:wrap;
  align-content: flex-start;
}


.skill {
  background-color: white;
  color:#010614;
  margin: 4px;
  height: 25px;
  padding: 10px;
  font-size: 11px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.waterloo, .mcmaster {
  height: 100%;
  color:white;
  text-align: left;
  padding-top: 40px;
  padding-left: 40%;
  font-size: 14px;
  background-color: rgba(1, 6, 20, .4);
  background-image: url("./assets/grid4.svg");
  background-position: center;
  font-family: courier-std, monospace;
  background-size: cover;
}

.mcmaster {
  grid-area: mcmaster;
}

.waterloo {
  grid-area: waterloo;
}

#programinfo {
  width: 66%;
  height: 100%;
}

.waterlootitle, .mcmastertitle, .skillstitle, .releventcoursestitle {
  height:30px;

  top:0px;
  left:0px;
  color:rgba(1, 6, 20, .6);
  background-color: white;
  font-size:17px;
  position: absolute;
  display: flex;
  padding-left: 10px;
  padding-right: 15px;
  align-items: center;
  font-family: 'theramin', monospace;
}

.mcmastertitle {
  width: 33%;
  height: 100%;
  text-align: left;
  font-size: 40px;
  padding-left: 20px;

}

.waterlootitle {
  text-align: left;
  width: 33%;
  height: 100%;
  font-size: 40px;
  padding-left: 20px;

}

#programname {
  font-size: 25px;
}


.skills, .mcmaster, .waterloo, .releventcourses {
  border: 1px solid white;
	filter: drop-shadow(0 0 0.75rem white);
	transition: .2s ease-in;
}

.skills:hover, .mcmaster:hover, .waterloo:hover, .releventcourses:hover {
  filter: drop-shadow(0 0 1.2rem white);
}

/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* EXPERIENCE */

.experience {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-areas: "exp1"
                       "exp2"
                       "exp3"
                       "exp4";
  grid-template-rows: repeat(4, 1fr);
  grid-template-columns: 1fr;
  grid-gap: 20px;

}

.exp {
  height: 100%;
  border:1px solid white;
  color:white;
  text-align: left;
  background-color: rgba(1, 6, 20, .4);
  background-image: url("./assets/grid4.svg");
  background-position: center;
  display: flex;
}

.exp {
  border: 1px solid white;
	filter: drop-shadow(0 0 0.75rem white);
	transition:.2s ease-in;
}

.exp:hover {
  filter: drop-shadow(0 0 1.2rem white);
}

.exptitle {
  height:30px;
  top:1px;
  left:1px;
  color:rgba(1, 6, 20, .6);
  background-color: white;
  font-size:17px;
  position: absolute;
  display: flex;
  padding-left: 10px;
  padding-right: 15px;
  align-items: center;
  font-family: 'theramin', monospace;
  font-style: normal;
  box-shadow:
  0 0 0 2px white;
}


.expdetails {
  padding: 50px 0px 0px 30px;
  width: 30%;
}

.employer {
  font-family: courier-std, monospace;
  font-size: 20px;
  padding:10px 0px;
}

.duration {
  font-family: courier-std, monospace;
  color: white;
  font-size: 15px;
}

.explist {
  margin-left: 0px;
  width: 75%;
  height: 100%;
  display:flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  font-family: courier-std, monospace;
  font-weight: 500;
  font-style: normal;
  line-height: 10px;
  font-size: 14px;
  list-style-type: square;
}


/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* PROJECTS */

.projects {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-areas: "proj1 proj2" 
                       "proj3 proj4";
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}


.proj {
  border:1px solid white;
  color:white;
  text-align: left;
  background-color: rgba(1, 6, 20, .4);
  background-image: url("./assets/grid4.svg");
  background-position: center;
}

.proj {
  border: 1px solid white;
	filter: drop-shadow(0 0 0.75rem white);
	transition: .2s ease-in;
  display:flex;
  justify-content: center;
  align-items: center;
}

.projdetails {
  position: absolute; 
  bottom: 1px;
  right: 1px;
  width: 40%;
  height: 50%;
  padding: 15px;
  font-size: 13px;
  background-color: white;
  color: #010614;
  box-shadow: 0 0 0 2px white;
}

.projdetails ul {
  margin: 5px 0px;
  list-style-type: square;
}

.projlink {
  width: 100%;
  height: 25px;
  margin-top: 5px;
  background-color: transparent;
  border: 1px solid #010614;
  color: #010614;
  text-decoration: none;
}

.projlink:hover, .projlink:focus {
  background-color: #010614;
  color: white;
}


.projtitle {
  /* width:100px; */
  height:30px;
  top:1px;
  left:1px;
  color:rgba(1, 6, 20, .6);
  background-color: white;
  font-size:17px;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 10px;
  padding-right: 15px;
  font-family: 'theramin', monospace;
  box-shadow:
  0 0 0 2px white;
}

.proj:hover {
  filter: drop-shadow(0 0 1.2rem white);
}

.proj1:hover > .thumb1, .proj2:hover > .thumb2, .proj3:hover > .thumb3, .proj4:hover > .thumb4 {
  filter: grayscale(0%);
  transition: filter .3s;
}

.thumb2 {
  background-image: url("./assets/wosthumb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 60%;
  opacity: 0.9;
  border: 1px solid white;
  filter: grayscale(100%);
}

.thumb1 {
  background-image: url("./assets/pmthumb.png");
  background-repeat: no-repeat;
  background-size: cover;
  width: 60%;
  height: 60%;
  opacity: 0.9;
  border: 1px solid white;
  filter: grayscale(100%);

}

.thumb3 {
  background-image: url("./assets/fcthumb.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 60%;
  opacity: 0.9;
  border: 1px solid white;
  filter: grayscale(100%);

}

.thumb4 {
  background-image: url("./assets/misheggthumb.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  width: 60%;
  height: 60%;
  opacity: 0.9;
  border: 1px solid white;
  filter: grayscale(100%);

}


/* ｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨｡･:*:･ﾟ★💕｡･:*:･ﾟ☆✨ */
/* ABOUT */

.about {
  width: 50%;
  height: 100%;
  display: grid;
  grid-template-areas: "bio selfie"
                      "links links";
  grid-gap: 20px;
  grid-template-rows: 75% 25%;
  grid-template-columns: 1fr 1fr;
}


.bio {
  border:2px solid white;
  /* color:#010614;*/
  color: white;
  text-align: left;
  padding:40px;
  padding-top: 80px;
  font-size: 14px;
  grid-area: bio;
  font-family: courier-std, monospace;
  overflow:auto;
  background-color: rgba(1, 6, 20, .4);
  background-image: url("./assets/grid4.svg");
  background-position: center;
  background-size: cover;
}

.bio span {
  font-weight: 500;
}

.biotitle {
  background-color: white;
  color:rgba(1, 6, 20, .6);
  left:0;
  top:0;
  height:30px;
  font-size:17px;
  position: absolute;
  display: flex;
  padding-left: 10px;
  padding-right: 15px;
  align-items: center;
  font-family: 'theramin', monospace;
  box-shadow:
  0 0 0 2px white;
}

.links {
  height: 80%;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 20% 80%;
  gap: 20px 20px;
  grid-area: links;
}

.resumetitle {
  border: 1px solid white;
  color: white;
  background-color: rgba(1, 6, 20, .4);
  opacity: 0.8;
  display: flex;
  font-family: 'theramin', monospace;

  justify-content: center;
  align-items: center;
}

.link {
  background-color: white;
  color:#010614;
  display:flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  opacity: 0.8;
  background-size: 25%;
  background-repeat: no-repeat;
  background-position: center center;

}

.link:hover{
  opacity: 1;
  cursor: pointer;
}

.link:active{
  background: darken(#010614, 20%);
}

.selfie {

  border:1px solid white;
  background-image: url("./assets/selfie.jpg");
  background-position: center;
  background-size: cover;
  grid-area: selfie;
}


.tlcorner {
  border-left: 1px solid white;
  border-top: 1px solid white;
  position: absolute;
  top: 20px;
  left: 20px;
  /* border-top-left-radius: 3px; */
}

.trcorner {
  border-right: 1px solid white;
  border-top: 1px solid white;
  position: absolute;
  top: 20px;
  right: 20px;
  /* border-top-right-radius: 3px; */
}

.blcorner {
  border-left: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 20px;
  left: 20px;
  /* border-bottom-left-radius: 3px; */
}

.brcorner {
  border-right: 1px solid white;
  border-bottom: 1px solid white;
  position: absolute;
  bottom: 20px;
  right: 20px;
  /* border-bottom-right-radius: 3px; */
}

.bio, .link, .selfie {
  border: 1px solid white;
	/* border-radius: 3px; */
	filter: drop-shadow(0 0 0.75rem white);
	transition:.2s  ease-in;
}

.bio:hover, .link:hover, .selfie:hover {
  filter: drop-shadow(0 0 1.2rem white);
}

